## Chapter 1, fundamentals of data collection, cleaning and preprocessing

In [1]:
import numpy as np
import pandas as pd

### Exercise 1, loading data

In [15]:
cols = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']
mpg_df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original", 
                     delim_whitespace=True, 
                     names=cols)

In [16]:
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

In [30]:
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    float64
 2   displacement  406 non-null    float64
 3   horsepower    400 non-null    float64
 4   weight        406 non-null    float64
 5   acceleration  406 non-null    float64
 6   year          406 non-null    float64
 7   origin        406 non-null    float64
 8   name          406 non-null    object
dtypes: float64(8), object(1)
memory usage: 28.7+ KB

#### Determine column type
According to the dataset description,

1. mpg: **continuous**
2. cylinders: multi-valued discrete
3. displacement: **continuous**
4. horsepower: **continuous**
5. weight: **continuous**
6. acceleration: **continuous**
7. model year: multi-valued discrete
8. origin: multi-valued discrete
9. car name: string (unique for each instance)

### Exercise 2, preprocessing

#### Perform min-max scaling

In [20]:
numerical_cols = ['mpg', 'displacement', 'horsepower', 'weight', 'acceleration']

In [23]:
numerical_df = mpg_df[numerical_cols]

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(numerical_df)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [32]:
numerical_df_scaled = pd.DataFrame(scaler.transform(numerical_df),columns=numerical_cols)

In [33]:
numerical_df_scaled.head()

        mpg  displacement  horsepower    weight  acceleration
0  0.239362      0.617571    0.456522  0.536150      0.238095
1  0.159574      0.728682    0.646739  0.589736      0.208333
2  0.239362      0.645995    0.565217  0.516870      0.178571
3  0.186170      0.609819    0.565217  0.516019      0.238095
4  0.212766      0.604651    0.510870  0.520556      0.148810

Update the original DataFrame with the new DataFrame using [`update`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.update.html) method.

In [34]:
mpg_df.update(numerical_df_scaled)

In [36]:
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0.239362,8.0,0.617571,0.456522,0.536150,0.238095,70.0,1.0,chevrolet chevelle malibu
1,0.159574,8.0,0.728682,0.646739,0.589736,0.208333,70.0,1.0,buick skylark 320
2,0.239362,8.0,0.645995,0.565217,0.516870,0.178571,70.0,1.0,plymouth satellite
3,0.186170,8.0,0.609819,0.565217,0.516019,0.238095,70.0,1.0,amc rebel sst
4,0.212766,8.0,0.604651,0.510870,0.520556,0.148810,70.0,1.0,ford torino

#### Perform imputation

In [38]:
np.sum(pd.isnull(mpg_df))

mpg             8
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

Since `mpg` and `horsepower` are all numerical and no other columns have missing values. We can safely use `fillna()` function.

In [41]:
mpg_df.mean()

mpg              0.386026
cylinders        5.475369
displacement     0.327596
horsepower       0.321101
weight           0.387415
acceleration     0.447601
year            75.921182
origin           1.568966
dtype: float64

In [43]:
mpg_df = mpg_df.fillna(mpg_df.mean())

### Exercise 3, pandas and API calling

In [51]:
owm_key = "xxxxxxxxx" # You need to replace this key with your own.

In [45]:
import requests

In [52]:
query_url = "http://api.openweathermap.org/data/2.5/weather?q={}&appid={}".format("Los Angeles", owm_key) 
# Choose your city name

In [55]:
res = requests.get(query_url)

In [56]:
# res.json()

You can set up a job that access the weather periodically then concatenate the result to a pandas DataFrame. It is left for you.

## Chapter 2: visualization with statistical graphs